@font-face {
	font-family: 'cc-font';
	src:url('../fonts/cc-font.eot?6q0fda');
	src:url('../fonts/cc-font.eot?#iefix6q0fda') format('embedded-opentype'),
	url('../fonts/cc-font.ttf?6q0fda') format('truetype'),
	url('../fonts/cc-font.woff?6q0fda') format('woff'),
	url('../fonts/cc-font.svg?6q0fda#cc-font') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="cicon-"], [class*=" cicon-"] {
	font-family: 'cc-font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cicon-user-p:before {
	content: "\e611";
}
.cicon-arrow-right:before {
	content: "\e600";
}
.cicon-arrow-up:before {
	content: "\e601";
}
.cicon-calendar:before {
	content: "\e602";
}
.cicon-check:before {
	content: "\e603";
}
.cicon-check-c:before {
	content: "\e604";
}
.cicon-dianpu:before {
	content: "\e605";
}
.cicon-envelop:before {
	content: "\e606";
}
.cicon-eye:before {
	content: "\e607";
}
.cicon-eye-o:before {
	content: "\e608";
}
.cicon-location:before {
	content: "\e609";
}
.cicon-lock:before {
	content: "\e60a";
}
.cicon-mobile:before {
	content: "\e60b";
}
.cicon-tag:before {
	content: "\e60c";
}
.cicon-times:before {
	content: "\e60d";
}
.cicon-times-c:before {
	content: "\e60e";
}
.cicon-trash:before {
	content: "\e60f";
}
.cicon-user:before {
	content: "\e610";
}
.cicon-edit:before {
	content: "\e612";
}
