@charset "utf-8";
*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  min-height: 100%;
}
html {
  border-color: #fff;
  font-size: 62.5%;
  ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  color: #333333;
  background-color: #f1f1f1;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre {
  margin: 0;
  padding: 0;
}
input,
textarea,
button,
select,
pre,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}
address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}
ul,
ol,
menu {
  list-style: none;
}
fieldset,
img {
  border: 0;
  vertical-align: middle;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
[hidden],
template {
  display: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}
textarea,
pre {
  overflow: auto;
}
textarea {
  resize: vertical;
}
input,
textarea,
button,
select a {
  outline: 0 none;
}
input,
textarea,
button,
select {
  color: inherit;
  background-color: transparent;
}
input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: button;
}
mark {
  background-color: rgba(0, 0, 0, 0);
}
a,
ins,
s,
u,
del {
  text-decoration: none;
}
a,
img {
  -webkit-touch-callout: none;
}
a {
  color: #333333;
}
img {
  max-width: 100%;
}
:-moz-placeholder {
  color: #cdcdcd;
}
::-moz-placeholder {
  color: #cdcdcd;
}
:-ms-input-placeholder {
  color: #cdcdcd;
}
::-webkit-input-placeholder {
  color: #cdcdcd;
}
.wp10 {
  width: 10%;
}
.wp20 {
  width: 20%;
}
.wp25 {
  width: 25%;
}
.wp30 {
  width: 30%;
}
.wp33 {
  width: 33.3333%;
}
.wp40 {
  width: 40%;
}
.wp50 {
  width: 50%;
}
.wp60 {
  width: 60%;
}
.wp66 {
  width: 66.6666%;
}
.wp70 {
  width: 70%;
}
.wp75 {
  width: 75%;
}
.wp80 {
  width: 80%;
}
.wp90 {
  width: 90%;
}
.wp100 {
  width: 100%;
}
.wauto {
  width: auto;
}
.p0 {
  padding: 0 !important;
}
.p5 {
  padding: .5rem;
}
.p10 {
  padding: 1rem;
}
.p15 {
  padding: 1.5rem;
}
.pt5 {
  padding-top: .5rem;
}
.pt10 {
  padding-top: 1rem;
}
.pt15 {
  padding-top: 1.5rem;
}
.pr5 {
  padding-right: .5rem;
}
.pr10 {
  padding-right: 1rem;
}
.pr15 {
  padding-right: 1.5rem;
}
.pb5 {
  padding-bottom: .5rem;
}
.pb10 {
  padding-bottom: 1rem;
}
.pb15 {
  padding-bottom: 1.5rem;
}
.pl5 {
  padding-left: .5rem;
}
.pl10 {
  padding-left: 1rem;
}
.pl15 {
  padding-left: 1.5rem;
}
.m0 {
  margin: 0 !important;
}
.m5 {
  margin: .5rem;
}
.m10 {
  margin: 1rem;
}
.m15 {
  margin: 1.5rem;
}
.mt5 {
  margin-top: .5rem;
}
.mt10 {
  margin-top: 1rem;
}
.mt15 {
  margin-top: 1.5rem;
}
.mr5 {
  margin-right: .5rem;
}
.mr10 {
  margin-right: 1rem;
}
.mr15 {
  margin-right: 1.5rem;
}
.mb5 {
  margin-bottom: .5rem;
}
.mb10 {
  margin-bottom: 1rem;
}
.mb15 {
  margin-bottom: 1.5rem;
}
.ml5 {
  margin-left: .5rem;
}
.ml10 {
  margin-left: 1rem;
}
.ml15 {
  margin-left: 1.5rem;
}
.f10 {
  font-size: 1rem;
}
.f12 {
  font-size: 1.2rem;
}
.f14 {
  font-size: 1.4rem;
}
.f16 {
  font-size: 1.6rem;
}
.f18 {
  font-size: 1.8rem;
}
.f20 {
  font-size: 2rem;
}
.f24 {
  font-size: 2.4rem;
}
.f28 {
  font-size: 2.8rem;
}
.f32 {
  font-size: 3.2rem;
}
.f36 {
  font-size: 3.6rem;
}
.lht1 {
  line-height: 1;
}
.mt6 {
  margin-top: .6rem;
}
.mt8 {
  margin-top: .8rem;
}
.mt2 {
  margin-top: .2rem;
}
.mt4 {
  margin-top: .4rem;
}
.mt20 {
  margin-top: 2rem;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
}
.mod {
  overflow: hidden;
}
.left {
  float: left;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-middle {
  vertical-align: middle;
}
.text-top {
  vertical-align: top;
}
.text-bottom {
  vertical-align: bottom;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.line-through {
  text-decoration: line-through;
}
.none,
.hide {
  display: none;
}
.block,
.show {
  display: block;
}
.inline-block {
  display: inline-block;
  vertical-align: middle;
}
.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
.img-responsive {
  max-width: 100%;
}
.img-preserve {
  max-width: none;
}
.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
}
.text-truncate {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-break {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
}
.line1 {
  display: block;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.line2 {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.5;
  max-height: 3;
}
.force-inline {
  display: inline-block !important;
}
.force-block {
  display: block !important;
}
.force-hide {
  display: none !important;
}
.color-black {
  color: #000;
}
.color-primary {
  color: #f86851;
}
.color-blackLight {
  color: #333;
}
.color-gray {
  color: #999;
}
.color-grayDark {
  color: #666;
}
.color-grayLight {
  color: #d5d5d5;
}
.color-brown {
  color: #b4783b;
}
.color-pink {
  color: #f08519;
}
.color-yellow {
  color: #f8a84b;
}
.color-orange {
  color: #f08519;
}
.color-purple {
  color: #566ed1;
}
.color-blue {
  color: #47adca;
}
.color-green {
  color: #47d873;
}
.bg-gray {
  background-color: #f1f1f1;
}
.bg-white {
  background-color: #fff;
}
.color-red {
  color: #f03619;
}
.flex-row {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.flex {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.flex-h {
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: mulitple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-v {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-lines: multiple;
  -moz-box-lines: mulitple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  text-align: start;
}
.flex-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  text-align: center;
}
.flex-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  text-align: end;
}
.flex-top {
  -webkit-box-align: start;
  -moz-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.flex-middle {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.flex-bottom {
  -webkit-box-align: end;
  -moz-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
}
.flex-around {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
}
.flex-between {
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
}
.flex-first {
  -webkit-box-ordinal-group: 0;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: -1;
  -webkit-order: -1;
  -moz-order: -1;
  -ms-order: -1;
  order: -1;
}
.flex-mid {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -ms-flex-order: 1;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-order: 1;
  order: 1;
}
.flex-end {
  -webkit-box-ordinal-group: 43;
  -moz-box-ordinal-group: 43;
  -ms-flex-order: 42;
  -webkit-order: 42;
  -moz-order: 42;
  -ms-order: 42;
  order: 42;
}
.cc-avg-list3:before,
.cc-avg-list3:after {
  content: " ";
  display: table;
}
.cc-avg-list3:after {
  clear: both;
}
.cc-avg-list3:before,
.cc-avg-list3:after {
  content: "";
  display: table;
}
.cc-avg-list3:after {
  clear: both;
}
.cc-avg-list3 > li {
  float: left;
  width: 33.33333333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.cc-avg-list3 > li:nth-of-type(n) {
  clear: none;
}
.cc-avg-list3 > li:nth-of-type(3n + 1) {
  clear: both;
}
.cc-list {
  background-color: #fff;
}
.cc-list li {
  padding: 1rem 0;
  margin: 0 1rem;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}
.cc-list li:last-child {
  border-bottom: none;
}
.cc-list li.list-header {
  margin: 0;
  padding: 1.2rem 1rem;
  border-bottom: 1px solid #dfdfdf;
}
.cc-list li.list-header:before,
.cc-list li.list-header:after {
  content: " ";
  display: table;
}
.cc-list li.list-header:after {
  clear: both;
}
.cc-list li.list-header:before,
.cc-list li.list-header:after {
  content: "";
  display: table;
}
.cc-list li.list-header:after {
  clear: both;
}
.cc-list li.list-header.link-item {
  padding-right: 2.6rem;
}
.cc-list li.list-header.link-item:after {
  right: 1.4rem;
}
.cc-list li.link-item {
  cursor: pointer;
}
.cc-list li.link-item:after {
  content: "";
  position: absolute;
  right: .4rem;
  top: 50%;
  margin-top: -0.5rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: #dfdfdf solid;
  border-width: 0.2rem 0.2rem 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  min-width: auto;
}
.cc-list li.link-item > a {
  display: block;
}
.cc-list li.link-item .list-inner {
  padding-right: 1.6rem;
}
.cc-list li .list-media {
  float: left;
  margin-right: 1rem;
}
.cc-list li .list-media + .list-inner:after {
  content: "";
  display: table;
  clear: both;
}
.cc-list li .list-inner:before,
.cc-list li .list-inner:after {
  content: " ";
  display: table;
}
.cc-list li .list-inner:after {
  clear: both;
}
.cc-list li .list-inner:before,
.cc-list li .list-inner:after {
  content: "";
  display: table;
}
.cc-list li .list-inner:after {
  clear: both;
}
.cc-list li .list-title {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.cc-list li .list-description {
  color: #999999;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.5;
  max-height: 3;
}
.cc-list li.input-row {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.cc-list li.input-row label {
  line-height: 3.6rem;
  margin-right: .5rem;
}
.cc-list li.input-row .cc-input {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  min-height: 3.6rem;
  line-height: 2rem;
  padding: .8rem 0.4rem;
  border: none;
  color: #666;
}
.cc-navigator-list {
  margin: 0;
  padding: 0;
  height: 4.4rem;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  background-color: #fff;
  border-bottom: 1px solid #dfdfdf;
}
.cc-navigator-list li {
  position: relative;
  display: inline-block;
}
.cc-navigator-list li a {
  display: block;
  padding: 0 2.5rem;
  min-width: 2rem;
  text-align: center;
  color: inherit;
  line-height: 4.3rem;
}
.cc-navigator-list li.cc-active {
  color: #f08519;
}
.cc-navigator-list li.cc-active:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 80%;
  margin-left: -40%;
  height: 2px;
  overflow: hidden;
  background-color: #f08519;
}
.cc-radio,
.cc-checkbox {
  display: inline-block;
  position: relative;
  height: 2rem;
  width: 2rem;
  border: 1px solid #dfdfdf;
  vertical-align: middle;
  -webkit-appearance: none;
  appearance: none;
  outline: 0;
}
.cc-radio.cc-radio,
.cc-checkbox.cc-radio {
  border-radius: 50%;
}
.cc-radio:checked,
.cc-checkbox:checked {
  background-color: #47d873;
  border: 1px solid #47d873;
}
.cc-radio:checked:after,
.cc-checkbox:checked:after {
  content: "";
  position: absolute;
  left: .4rem;
  top: .5rem;
  width: 1.1rem;
  height: .6rem;
  background-color: transparent;
  border-width: .3rem;
  border-color: #fff;
  border-style: solid;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.sm .cc-radio:checked:after,
.sm .cc-checkbox:checked:after {
  border-width: .2rem;
  left: .2rem;
  top: .3rem;
}
.cc-radio.sm,
.cc-checkbox.sm {
  height: 1.6rem;
  width: 1.6rem;
}
.cc-radio.sm:checked,
.cc-checkbox.sm:checked {
  background-color: #47d873;
  border: 1px solid #47d873;
}
.cc-radio.sm:checked:after,
.cc-checkbox.sm:checked:after {
  width: 1rem;
  height: .5rem;
  border-width: .2rem;
  left: .25rem;
  top: .27rem;
}
.cc-radio:disabled,
.cc-checkbox:disabled {
  border: 1px solid #f1f1f1;
}
.cc-toggle {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  background-color: #fafbfa;
  height: 3.2rem;
  width: 6rem;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  position: relative;
  border-radius: 5rem;
}
.cc-toggle:after {
  content: ' ';
  position: absolute;
  top: 0;
  -webkit-transition: box-shadow 0.1s ease-in;
  -moz-transition: box-shadow 0.1s ease-in;
  transition: box-shadow 0.1s ease-in;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10rem;
  box-shadow: inset 0 0 0 0 #eeeeee, 0 0 1px rgba(0, 0, 0, 0.4);
}
.cc-toggle:before {
  content: ' ';
  position: absolute;
  background: #fff;
  top: .1rem;
  left: .1rem;
  z-index: 1;
  width: 3rem;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  height: 3rem;
  border-radius: 50%;
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.05), 0 0px 1px rgba(0, 0, 0, 0.3);
}
.cc-toggle:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
.cc-toggle:active:before {
  width: 3.5rem;
}
.cc-toggle:active:after {
  box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
}
.cc-toggle:checked:before {
  left: 3rem;
  border-radius: 10rem;
}
.cc-toggle:checked:after {
  background: #4cda60;
  box-shadow: 0 0 1px #4cda60;
}
.cc-toggle:checked:active:before {
  width: 3.5rem;
  left: 2.5rem;
}
.cc-input {
  min-height: 3.6rem;
  line-height: 3.6rem;
  padding: 0 0.4rem;
  border: 1px solid #dfdfdf;
}
.btn {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
  height: 3.6rem;
  line-height: 3.6rem;
  border: 1px solid #dfdfdf;
  padding: 0 1.2rem;
  color: #333333;
  border-radius: .2rem;
  background: transparent;
}
.btn:first-child {
  margin-left: 0;
}
.btn.lg {
  font-size: 1.6rem;
  height: 4.4rem;
  line-height: 4.4rem;
}
.btn.sm {
  font-size: 1.2rem;
  height: 2.8rem;
  line-height: 2.8rem;
}
.btn:disabled,
.btn.disabled {
  background-color: #f1f1f1 !important;
  color: #999 !important;
  border: 1px solid #dfdfdf !important;
  cursor: default;
}
.btn.btn-fill {
  color: #fff !important;
}
.btn-primary {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
  height: 3.6rem;
  line-height: 3.6rem;
  border: 1px solid #dfdfdf;
  padding: 0 1.2rem;
  color: #333333;
  border-radius: .2rem;
  background: transparent;
  border: 1px solid #e1780f;
  color: #f86f4b;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-primary:first-child {
  margin-left: 0;
}
.btn-primary.lg {
  font-size: 1.6rem;
  height: 4.4rem;
  line-height: 4.4rem;
}
.btn-primary.sm {
  font-size: 1.2rem;
  height: 2.8rem;
  line-height: 2.8rem;
}
.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #f1f1f1 !important;
  color: #999 !important;
  border: 1px solid #dfdfdf !important;
  cursor: default;
}
.btn-primary.btn-fill {
  color: #fff !important;
}
.btn-primary:active {
  background-color: #f1f1f1;
}
.btn-primary.btn-fill {
  background: #f08519;
}
.btn-primary.btn-fill:active {
  background-color: #e1780f;
}
.btn-primary.btn-fill:disabled,
.btn-primary.btn-fill.disabled {
  background-color: #dfdfdf !important;
}
.btn-primary.cc-active {
  background: #f08519;
  color: #fff;
}
.btn-yellow {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  white-space: nowrap;
  font-size: 1.4rem;
  height: 3.6rem;
  line-height: 3.6rem;
  border: 1px solid #dfdfdf;
  padding: 0 1.2rem;
  color: #333333;
  border-radius: .2rem;
  background: transparent;
  border: 1px solid #e1780f;
  color: #f08519;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.btn-yellow:first-child {
  margin-left: 0;
}
.btn-yellow.lg {
  font-size: 1.6rem;
  height: 4.4rem;
  line-height: 4.4rem;
}
.btn-yellow.sm {
  font-size: 1.2rem;
  height: 2.8rem;
  line-height: 2.8rem;
}
.btn-yellow:disabled,
.btn-yellow.disabled {
  background-color: #f1f1f1 !important;
  color: #999 !important;
  border: 1px solid #dfdfdf !important;
  cursor: default;
}
.btn-yellow.btn-fill {
  color: #fff !important;
}
.btn-yellow:active {
  background-color: #f1f1f1;
}
.btn-yellow.btn-fill {
  background: #f08519;
}
.btn-yellow.btn-fill:active {
  background-color: #e1780f;
}
.btn-yellow.btn-fill:disabled,
.btn-yellow.btn-fill.disabled {
  background-color: #dfdfdf !important;
}
.btn-yellow.cc-active {
  background: #f08519;
  color: #fff;
}
.btn-block {
  display: block;
}
.badge {
  display: inline-block;
  line-height: 1;
  padding: .2rem .4rem;
  border-radius: .2rem;
}
.badge.radius {
  padding: .2rem;
  border-radius: 50%;
}
.badge-red {
  display: inline-block;
  line-height: 1;
  padding: .2rem .4rem;
  border-radius: .2rem;
  background-color: #e51400;
  color: #fff;
}
.badge-red.radius {
  padding: .2rem;
  border-radius: 50%;
}
.cc-alert {
  background-color: #fbf3df;
  padding: 1.2rem;
  border-bottom: 1px solid #f5e2b2;
}
.cc-alert:before,
.cc-alert:after {
  content: " ";
  display: table;
}
.cc-alert:after {
  clear: both;
}
.cc-alert:before,
.cc-alert:after {
  content: "";
  display: table;
}
.cc-alert:after {
  clear: both;
}
.cc-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: .2;
  z-index: 100;
}
.cc-mask-active {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.cc-notify-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0;
  z-index: 100;
}
.cc-modal {
  width: 300px;
  position: fixed;
  display: none;
  z-index: 101;
  left: 50%;
  margin-left: -150px;
  margin-top: 0;
  top: 50%;
  opacity: 0;
  border-radius: 0.4rem;
  background: #fff;
  -webkit-transform: translate3d(0, 0, 0) scale(1.185);
  -ms-transform: translate3d(0, 0, 0) scale(1.185);
  transform: translate3d(0, 0, 0) scale(1.185);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  transition-property: transform, opacity;
}
.cc-modal:focus {
  outline: 0;
}
.cc-modal.cc-modal-active {
  opacity: 1;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: translate3d(0, 0, 0) scale(1);
  -ms-transform: translate3d(0, 0, 0) scale(1);
  transform: translate3d(0, 0, 0) scale(1);
}
.cc-modal.cc-modal-out {
  opacity: 0;
  z-index: 99;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: translate3d(0, 0, 0) scale(0.815);
  -ms-transform: translate3d(0, 0, 0) scale(0.815);
  transform: translate3d(0, 0, 0) scale(0.815);
}
.cc-modal-header {
  padding: 15px 10px 5px 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 0.4rem 0.4rem 0 0;
}
.cc-modal-header .cc-close {
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 0;
  right: 0;
}
.cc-modal-content {
  padding: 1.5rem;
  text-align: center;
}
.cc-modal-footer {
  text-align: center;
  padding-top: .5rem;
  padding-bottom: 2rem;
  border-radius: 0 0 0.4rem 0.4rem;
}
.cc-modal-btn {
  display: inline-block;
  line-height: 3.4rem;
  min-height: 3.4rem;
  padding: 0 2rem;
  white-space: normal;
  text-align: center;
  cursor: pointer;
  margin: 0 1rem;
  border: 1px solid #ddd;
  background-color: #f1f1f1;
  border-radius: .2rem;
}
.cc-modal-btn:last-child {
  border: 1px solid #f86851;
  background-color: #f86851;
  color: #fff;
}
.cc-modal-btn:active {
  background: #f5f5f5;
}
.modal-prompt-text:not(:empty) {
  margin-bottom: 10px;
}
.cc-popup {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  opacity: 0;
  margin-left: auto;
  margin-top: auto;
  background: #fff;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  transition-property: transform, opacity;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
.cc-popup:focus {
  outline: 0;
}
.cc-popup.cc-modal-active {
  opacity: 1;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cc-popup.cc-modal-out {
  opacity: 0;
  z-index: 99;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transform: translate3d(0, 100%, 0);
  -ms-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.cc-notify-mask {
  z-index: 100099;
}
.cc-notify {
  position: fixed;
  z-index: 100099;
  width: 300px;
  margin: auto;
}
.cc-notify.cc-notify-center {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cc-notify-message {
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  border-radius: 4px;
  margin-bottom: 10px;
}
.cc-notify-message .cc-close {
  color: #fff;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -11px;
}
.cc-notify-content {
  color: #fff;
  padding: 12px;
  text-align: center;
}
.cc-header {
  position: relative;
  height: 4.4rem;
  background: #f08519;
}
.cc-header .cc-title {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 5.4rem;
  right: 5.4rem;
  line-height: 4.4rem;
  font-size: 1.8rem;
  text-align: center;
  color: #fff;
}
.cc-header .cc-back {
  position: relative;
  z-index: 2;
  height: 4.4rem;
  width: 4.4rem;
  display: inline-block;
  padding-left: 15px;
  line-height: 4.4rem;
  white-space: nowrap;
  color: #fff;
}
.cc-header .cc-back:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border: #ffffff solid;
  border-width: 0.2rem 0.2rem 0 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  min-width: auto;
}
.cc-header-secondary {
  height: 4.4rem;
}
@-webkit-keyframes ui-loading {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes ui-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cc-loading {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 30px;
  height: 30px;
}
.cc-loading:after {
  position: absolute;
  left: 0;
  content: '';
  width: 3px;
  height: 3px;
  margin: 13.5px 0 0 13.5px;
  border-radius: 100%;
  box-shadow: 0 -10px 0 1px #cccccc, 10px 0px #cccccc, 0 10px #cccccc, -10px 0 #cccccc, -7px -7px 0 0.5px #cccccc, 7px -7px 0 1.5px #cccccc, 7px 7px #cccccc, -7px 7px #cccccc;
  -webkit-transform: rotate(360deg);
  -webkit-animation: ui-loading 1.5s infinite linear;
  transform: rotate(360deg);
  animation: ui-loading 1.5s infinite linear;
}
.divider-solid {
  height: 1px;
  overflow: hidden;
  background-color: #dfdfdf;
}
.divider-gutter {
  height: 15px;
  background-color: #f1f1f1;
  box-shadow: 0 0 3px rgba(99, 99, 99, 0.1) inset;
}
.fixed-placeholer {
  height: 4.4rem;
}
.fixed-btns {
  position: fixed;
  z-index: 10;
  width: 100%;
  left: 0;
  bottom: 0;
}
.cc-header + .center-container {
  position: absolute;
  top: 4.4rem;
  left: 0;
  right: 0;
  bottom: 0;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.cc-header + .center-container .center-block {
  margin-top: -30%;
}
.cc-spinner {
  display: inline-block;
  vertical-align: middle;
}
.cc-spinner .plus,
.cc-spinner .minus {
  display: inline-block;
  width: 3.6rem;
  height: 3.6rem;
  line-height: 3.6rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #f08519;
  position: relative;
  vertical-align: middle;
  text-indent: -9999em;
  overflow: hidden;
  cursor: pointer;
}
.cc-spinner .plus:after,
.cc-spinner .minus:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.8rem;
  margin-top: -0.1rem;
  width: 1.6rem;
  height: .2rem;
  background-color: #f08519;
}
.cc-spinner .plus.plus:before,
.cc-spinner .minus.plus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -0.1rem;
  margin-top: -0.8rem;
  width: .2rem;
  height: 1.6rem;
  background-color: #f08519;
}
.cc-spinner .plus.disabled,
.cc-spinner .minus.disabled {
  border-color: #cacaca;
  cursor: default;
}
.cc-spinner .plus.disabled:after,
.cc-spinner .minus.disabled:after,
.cc-spinner .plus.disabled:before,
.cc-spinner .minus.disabled:before {
  background-color: #cacaca;
}
.cc-spinner .num {
  border: none;
  text-align: center;
  width: 3rem;
  vertical-align: middle;
}
.cc-spinner .num.disabled {
  color: #999999;
}
.cc-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/bg.png");
  background-size: 80px 45px;
  background-color: #e6e5e5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .cc-bg {
    background-image: url("../images/bg.png");
    background-size: 80px 45px;
  }
}
.cc-top {
  cursor: pointer;
  width: 4.4rem;
  height: 4.4rem;
  position: fixed;
  bottom: 4rem;
  right: 1rem;
  z-index: 110;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  text-align: center;
  line-height: 5.8rem;
  overflow: hidden;
  color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  font-size: 13px;
}
.cc-top.cc-active {
  opacity: 1;
}
.cc-top .arrow {
  position: absolute;
  left: 50%;
  margin-left: -0.6rem;
  top: 1.2rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: rgba(255, 255, 255, 0.8) solid;
  border-width: 0.2rem 0.2rem 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  min-width: auto;
}
#cc-loading {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  margin: auto;
  z-index: 99999;
  border-radius: 50%;
  background: transparent;
  border: 6px solid #fefefe;
}
#cc-loading:after {
  content: "";
  position: absolute;
  left: -6px;
  top: -6px;
  height: 60px;
  width: 60px;
  border: 6px solid #dedede;
  clip: rect(0, 30px, 30px, 0);
  -webkit-animation: ticktock 1s linear infinite;
  animation: ticktock 1s linear infinite;
  border-radius: 50%;
}
#cc-loading .loading-logo {
  position: absolute;
  left: -6px;
  top: -6px;
  width: 60px;
  height: 60px;
  background-image: url("../images/svg-logo.svg");
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}
@-webkit-keyframes ticktock {
  0% {
    -webkit-transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes ticktock {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cc-diamond {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 12px;
  overflow: hidden;
  vertical-align: middle;
}
.cc-diamond > *,
.cc-diamond > *:before,
.cc-diamond > *:after {
  position: absolute;
  height: 0;
  width: 0;
}
.cc-diamond > *:before,
.cc-diamond > *:after {
  content: "";
}
.cc-diamond .top-a {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 3px solid #fed294;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-top: 0 dotted;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  left: 0;
}
.cc-diamond .top-a:before {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 3px solid #feedbe;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 0 dotted;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  left: 0;
}
.cc-diamond .top-a:after {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 3px solid #fccf5a;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-top: 0 dotted;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  left: 3px;
}
.cc-diamond .top-b {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 3px solid #fdd783;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 0 dotted;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  top: 0;
  left: 9px;
}
.cc-diamond .top-b:before {
  top: -3px;
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 3px solid #fdb34c;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-top: 0 dotted;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  left: 0;
}
.cc-diamond .bot {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 9px solid #f9ac3c;
  border-right: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 0 dotted;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  top: 3px;
  left: 0;
}
.cc-diamond .bot:before {
  top: -9px;
  left: 0;
  border-top: 9px solid #f68b00;
  border-right: 9px solid transparent;
}
.cc-diamond .bot:after {
  top: -9px;
  left: -3px;
  border-top: 9px solid #ffb800;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
}
.cc-icon {
  display: inline-block;
  vertical-align: middle;
}
.cc-tabs-nav {
  margin: 0;
  padding: 0;
  height: 4.4rem;
  line-height: 4.4rem;
  text-align: center;
  width: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  border-bottom: 1px solid #dfdfdf;
}
.cc-tabs-nav li {
  position: relative;
}
.cc-tabs-nav li a {
  display: block;
  color: inherit;
}
.cc-tabs-nav li.cc-active {
  color: #f08519;
}
.cc-tabs-nav li.cc-active:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -1px;
  width: 80%;
  margin-left: -40%;
  height: 2px;
  overflow: hidden;
  background-color: #f08519;
}
.cc-tabs-nav li:not(.cc-tabs-more) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.cc-tabs-nav li.cc-tabs-more {
  width: 4.4rem;
  text-align: center;
  color: #999;
}
.cc-tabs-content {
  position: relative;
  overflow: hidden;
  border-top: none;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  transition: height 0.3s;
}
.cc-tabs-content .cc-tabs-panel {
  position: absolute;
  top: 0;
  float: left;
  width: 100%;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
}
.cc-tabs-content .cc-tabs-panel * {
  -webkit-user-drag: none;
  user-drag: none;
}
.cc-tabs-content .cc-tabs-panel.cc-active {
  position: relative;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.cc-tabs-content .cc-tabs-panel.cc-active ~ .cc-tabs-panel {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.cc-pureview {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0, 0, 0, 0.95);
  overflow: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.cc-pureview.cc-active {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.cc-pureview ul,
.cc-pureview ol {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.cc-pureview-slider {
  overflow: hidden;
  height: 100%;
}
.cc-pureview-slider li {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  vertical-align: middle;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  transition: all 0.3s linear;
  z-index: 100;
  visibility: hidden;
}
.cc-pureview-slider li.cc-pureview-slide-prev {
  -webkit-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  z-index: 100;
}
.cc-pureview-slider li.cc-pureview-slide-next {
  -webkit-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  z-index: 100;
}
.cc-pureview-slider li.cc-active {
  position: relative;
  z-index: 100;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: visible;
}
.cc-pureview-slider .pinch-zoom-container {
  width: 100%;
  z-index: 101;
}
.cc-pureview-slider .cc-pinch-zoom {
  position: relative;
  width: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.cc-pureview-slider img {
  position: relative;
  display: block;
  max-width: 100%;
  max-height: 100%;
  opacity: 0;
  z-index: 200;
  -webkit-user-drag: none;
  user-drag: none;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.cc-pureview-slider img.cc-img-loaded {
  opacity: 1;
}
.cc-pureview-direction {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -18px !important;
  z-index: 102;
  display: none;
}
.cc-touch .cc-pureview-direction,
.cc-pureview-only .cc-pureview-direction {
  display: none;
}
.cc-pureview-direction li {
  position: absolute;
  width: 3.6rem;
  height: 3.6rem;
}
.cc-pureview-direction a {
  display: block;
  height: 3.6rem;
  border: none;
  color: #ccc;
  opacity: 0.5;
  cursor: pointer;
  text-align: center;
  position: relative;
  z-index: 105;
}
.cc-pureview-direction a:hover {
  opacity: 1;
}
.cc-pureview-direction .cc-pureview-prev {
  left: 1rem;
}
.cc-pureview-direction .cc-pureview-prev a:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: #ffffff solid;
  border-width: 0.2rem 0.2rem 0 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  min-width: auto;
}
.cc-pureview-direction .cc-pureview-next {
  right: 1rem;
}
.cc-pureview-direction .cc-pureview-next a:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: #ffffff solid;
  border-width: 0.2rem 0.2rem 0 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  min-width: auto;
}
.cc-pureview-bar {
  position: absolute;
  bottom: 0;
  height: 4.4rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  color: #eeeeee;
  line-height: 44px;
  padding: 0 10px;
  font-size: 16px;
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.cc-pureview-bar .cc-pureview-title {
  display: block;
  word-wrap: normal;
  /* for IE */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 6px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1 1 0%;
  -moz-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
}
.cc-pureview-bar .cc-pureview-current {
  color: #f86f4b;
}
.cc-pureview-actions {
  position: absolute;
  z-index: 110;
  left: 0;
  right: 0;
  top: 0;
  height: 4.4rem;
  background-color: rgba(0, 0, 0, 0.35);
}
.cc-pureview-actions .cc-back {
  position: relative;
  height: 4.4rem;
  width: 4.4rem;
  display: inline-block;
  padding-left: 15px;
  line-height: 4.4rem;
  white-space: nowrap;
  color: #fff;
}
.cc-pureview-actions .cc-back:before {
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 1.4rem;
  height: 1.4rem;
  border: #ffffff solid;
  border-width: 0.2rem 0.2rem 0 0;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
  min-width: auto;
}
.cc-pureview-bar,
.cc-pureview-actions {
  opacity: 0;
  -webkit-transition: 0.15s;
  -moz-transition: 0.15s;
  transition: 0.15s;
  z-index: 110;
}
.cc-pureview-bar-active .cc-pureview-bar,
.cc-pureview-bar-active .cc-pureview-actions {
  opacity: 1;
}
.cc-pureview-nav {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 111;
}
.cc-pureview-bar-active .cc-pureview-nav {
  display: none;
}
.cc-pureview-nav li {
  display: inline-block;
  background: #ccc;
  background: rgba(255, 255, 255, 0.5);
  width: 8px;
  height: 8px;
  margin: 0 3px;
  border-radius: 50%;
  text-indent: -9999px;
  overflow: hidden;
  cursor: pointer;
}
.cc-pureview-nav .cc-active {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
[data-pureview] img {
  cursor: pointer;
}
.cc-pureview-active {
  overflow: hidden;
}
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe .dots {
  position: absolute;
  width: 100%;
  bottom: 5px;
  text-align: center;
}
.swipe .dots .dot {
  display: inline-block;
  text-align: center;
  height: 14px;
  width: 14px;
  text-indent: -9999em;
  overflow: hidden;
  background-color: #f9f9f9;
  margin: 0 4px;
  border-radius: 50%;
}
.swipe .dots .dot.active {
  background-color: #ff3300;
}
.swipe .counts {
  font-size: 16px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  color: #eee;
}
.swipe .counts .current-index {
  color: #f86f4b;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > * {
  float: left;
  width: 100%;
  position: relative;
}
.unslider {
  position: relative;
  overflow: auto;
}
.unslider li {
  list-style: none;
}
.unslider ul li {
  float: left;
}
.cc-panel {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.cc-panel.cc-active {
  display: block;
  opacity: 1;
}
.cc-panel-page {
  position: fixed;
  -webkit-transition: margin-left 0.3s ease-in-out;
  -moz-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
.cc-panel-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  z-index: 1001;
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cc-panel.cc-active .cc-panel-content.cc-active {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.cc-panel-flip {
  left: auto;
  right: 0;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
}
.cc-calendar-week {
  position: relative;
  z-index: 1;
  width: 100%;
  display: table;
  background-color: #e4e4e4;
}
.cc-calendar-week li {
  display: table-cell;
  width: 1%;
  padding: 0 .5rem;
  text-align: center;
  line-height: 40px;
}
.cc-calendar-content {
  margin-top: -2px;
}
.cc-calendar-header {
  text-align: center;
  padding: 1rem .5rem;
  background: #f1f1f1;
}
.cc-calendar-calendar {
  width: 100%;
  line-height: 2rem;
  table-layout: fixed;
}
.cc-calendar-calendar td {
  text-align: center;
  background: #fff;
  border: 2px solid #f1f1f1;
  font-weight: normal;
}
.cc-calendar-calendar td > a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: .5rem;
  height: 4.5rem;
}
.cc-calendar-calendar td > a.cc-active {
  background: #f2e5e2;
  color: #000;
}
.cc-calendar-calendar td.cc-calendar-unSelectable {
  color: #e1e1e1;
}
.cc-calendar-calendar td.cc-calendar-unSelectable span {
  display: block;
  padding: .5rem;
}
.cc-state-disabled {
  height: 4.5rem;
}
.cc-calendar-price {
  font-size: 12px;
  display: block;
  color: #f86851;
  line-height: 1.5rem;
  white-space: nowrap;
}
.cc-calendar-calendar td.cc-calendar-current-day {
  background: #f2e5e2;
}
.icon-svg {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-svg + span {
  display: inline-block;
  vertical-align: middle;
}
.icon-svg-edit {
  background-image: url("../images/svg-icon-edit.svg");
}
.icon-svg-shopping-cart {
  background-image: url("../images/svg-icon-shopping-cart.svg");
}
.goods-reserve-btn {
  min-height: 44px;
  line-height: 44px;
  display: block;
  text-align: center;
  color: #fff;
  background-color: #f08519;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}
.goods-reserve-btn:disabled,
.goods-reserve-btn.disabled {
  background-color: #999;
  cursor: default;
}
.goods-info {
  color: #666666;
  background-color: #ffffff;
  padding: 1.2rem 1rem;
}
.goods-name {
  display: block;
  font-size: 16px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 20px;
  max-height: 40px;
  color: #000000;
}
.goods-tags {
  border-top: 1px solid #dfdfdf;
  padding: 1.2rem 0 .2rem;
}
.goods-tags .cc-icon {
  margin-top: -3px;
  margin-right: 3px;
}
.goods-tags .tag-label {
  display: inline-block;
  margin-right: .6rem;
}
.goods-tags .tag-label:nth-child(2n+1) {
  color: #566ed1;
}
.goods-tags .tag-label:nth-child(2n+2) {
  color: #f86851;
}
.goods-tags .tag-label:nth-child(2n+3) {
  color: #47d873;
}
.goods-tags .tag-label:nth-child(2n+4) {
  color: #47adca;
}
.goods-tags .tag-label:nth-child(2n+5) {
  color: #999;
}
.cc-score {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 125px;
}
ul.cc-score {
  width: auto;
}
.cc-score > div {
  height: 100%;
  background: url(../images/icon-rate.png);
}
.cc-score > li {
  display: inline-block;
  height: 100%;
  width: 25px;
  background: url(../images/icon-rate.png);
  margin: 0 !important;
}
.related-facility h3 {
  font-weight: normal;
  color: #6a7b9d;
  margin: 10px 0 5px;
}
.related-facility ul {
  overflow: hidden;
}
.related-facility ul li {
  margin-top: 5px;
  float: left;
  width: 33.33333333%;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.daily-route {
  padding: 10px;
}
.daily-route .daily-route-item {
  position: relative;
  padding-left: 40px;
  padding-bottom: 10px;
}
.daily-route .daily-route-item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  height: 100%;
  width: 1px;
  background-color: #f98364;
}
.daily-route .daily-route-item:last-child:before {
  display: none;
}
.daily-route .day-label {
  position: absolute;
  left: 0;
  top: 0;
  width: 3rem;
  border-radius: 50%;
  border: 1px solid #f98364;
  line-height: 3rem;
  color: #f86f4b;
  text-align: center;
  background-color: #fff;
}
.daily-route .daily-route-title {
  font-weight: normal;
  padding: 6px 0;
}
.daily-route .daily-route-description {
  color: #666;
}
.media-list3:before,
.media-list3:after {
  content: " ";
  display: table;
}
.media-list3:after {
  clear: both;
}
.media-list3:before,
.media-list3:after {
  content: "";
  display: table;
}
.media-list3:after {
  clear: both;
}
.media-list3 > li {
  margin-top: 8px;
  float: left;
  width: 33.33333333%;
  padding-right: 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.media-list3 > li:nth-of-type(n) {
  clear: none;
}
.media-list3 > li:nth-of-type(3n+1) {
  clear: both;
}
.route-list > li {
  background-color: #fff;
  margin: 1.5rem 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.goods-slider {
  position: relative;
}
.goods-media {
  position: relative;
}
.wishlist-label {
  z-index: 100;
  position: absolute;
  right: 0;
  top: 0;
  height: 8rem;
  width: 8rem;
  text-align: center;
  color: #ed5565;
  font-size: 16px;
}
.wishlist-label:after {
  content: "";
  position: absolute;
  top: 1rem;
  left: 3rem;
  height: 4rem;
  width: 4rem;
  border: 1px solid #ed5565;
  border-radius: 50%;
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.1);
}
.wishlist-label.cc-active {
  color: #fff;
}
.wishlist-label.cc-active:after {
  background-color: #ed5565;
}
.wishlist-label i {
  position: absolute;
  top: 1rem;
  left: 3rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  z-index: 10;
}
.abs-label {
  z-index: 10;
  position: absolute;
  top: 1.2rem;
  left: 0;
}
.activity-label {
  position: relative;
  display: inline-block;
  background-color: #f8c651;
  color: #fff;
  height: 3.4rem;
  line-height: 3.4rem;
  padding: 0 .6rem;
}
.activity-label:before,
.activity-label:after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  width: 0;
  border-left: 4px solid #f8c651;
  height: 100%;
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.activity-label:after {
  border-left: 2px solid #f8c651;
  right: -6px;
}
.promotion-activity {
  padding: 0 !important;
}
.promotion-activity [data-switcher-item] {
  padding: 0 30px 10px 0;
  position: relative;
}
.promotion-activity [data-switcher-item]:after {
  position: absolute;
  right: 10px;
  top: 10px;
  content: "";
  vertical-align: middle;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: #dfdfdf solid;
  border-width: 0.2rem 0.2rem 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  min-width: auto;
}
.toggle-activity:after {
  position: absolute;
  top: 50%;
  right: 1rem;
  content: "";
  vertical-align: middle;
  margin-top: -1rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: #dfdfdf solid;
  border-width: 0.2rem 0.2rem 0 0;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg);
  min-width: auto;
  -webkit-transition: rotate 0.3s;
  -moz-transition: rotate 0.3s;
  transition: rotate 0.3s;
}
.toggle-activity.cc-active:after {
  margin-top: 0;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: #dfdfdf solid;
  border-width: 0.2rem 0.2rem 0 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  min-width: auto;
}
.coupon-label {
  display: inline-block;
  padding: .3rem 1rem;
  background: url("../images/svg-coupon-label.svg") no-repeat center;
  background-size: contain;
  color: #f8c651;
}
.toggle-activity-list li {
  padding: .8rem 0;
}
.toggle-activity-list li:first-child {
  border-top: 1px solid #dfdfdf;
}
.city-list li {
  border-top: 1px solid #dfdfdf;
}
.city-list li.item-header {
  padding: 1.2rem 1rem;
  color: #f86851;
}
.city-list li:first-child {
  border-top: none;
}
.city-list li a {
  display: block;
  padding: 1.2rem 1rem;
  background-color: #fff;
}
.city-list li a.cc-active,
.city-list li a:active {
  background-color: #e9e9e9;
}
.coupon-value {
  display: inline-block;
  min-width: 4rem;
  margin-right: 1rem;
  font-size: 2.4rem;
}
.coupon-value span {
  font-size: 1.4rem;
}
.coupon-list-inner {
  display: -moz-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: .5rem 0;
}
.available-coupon-list li .coupon-value {
  color: #f8a84b;
}
.available-coupon-list li:nth-child(2n) .coupon-value {
  color: #47adca;
}
.available-coupon-list li:nth-child(2n+1) .coupon-value {
  color: #f08519;
}
.available-coupon-list li:nth-child(2n+3) .coupon-value {
  color: #b4783b;
}
.goods-number-values li {
  padding: 1.2rem 0;
}
.agreement-block {
  padding: 1.5rem 1rem;
}
.detail-content {
  padding: 1.2rem 1rem;
}
.addition-intro {
  border: 1px solid #f5e2b2;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  margin-top: .8rem;
  padding: .8rem;
  background: #fbf3df;
}
.addition-intro:empty {
  display: none;
}
.addition-intro .addition-content {
  margin: .3rem 0 .6rem;
}
.addition-intro .addition-content:last-child {
  margin-bottom: 0;
}
