// from ue editor
//.ue-table-data td, .ue-table-data th {
//  padding: 5px 10px;
//  border: 1px solid #DDD;
//}
table td, table th {
  padding: 5px 10px;
  border: 1px solid #DDD;
}

ul, ol {
  list-style-position: inside;
}