.badge{
  display: inline-block;
  line-height: 1;
  padding: .2rem .4rem;
  border-radius: .2rem;
  font-size: 12px;
  vertical-align: middle;
  &.radius{
    padding: .2rem;
    border-radius: 50%;
  }
}

.create-badge(@bg,@color: #fff){
  .badge;
  background-color: @bg;
  color: #fff;
}

.badge-red{
  .create-badge(@red);
}

.badge-pink{
  .create-badge(#f86851);
}
.badge-blue{
  .create-badge(#12b143);
}
