// 按钮
.btn {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  white-space: nowrap;
  font-size: 14px;
  height: 36px;
  line-height: 36px;
  border: 1px solid @baseBorderColor;
  padding: 0 12px;
  color: @baseColor;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
  &:first-child {
    margin-left: 0;
  }
  // size
  &.lg {
    font-size: 16px;
    height: 42px;
    line-height: 42px;
  }
  &.sm {
    font-size: 12px;
    height: 28px;
    line-height: 28px;
  }
  &:disabled,
  &.disabled {
    background-color: #f1f1f1 !important;
    color: #999 !important;
    border: 1px solid @baseBorderColor !important;
    cursor: default;
  }
  &.btn-fill {
    color: #fff !important;
  }
  // [type="button"]&,
  // button&{
  // 	width: 100%;
  // }
  & > input[type="radio"],
  & > input[type="checkbox"] {
    display: none;
  }
}

.create-btn(@bgColor, @borderColor, @color: #fff) {
  .btn;
  background: transparent;
  border: 1px solid @borderColor;
  color: @color;
  .transition(background-color .3s);
  &:hover {
    // background-color: lighten(@bgColor, 5%);
  }
  &:active {
    background-color: #f1f1f1;
  }
  &.btn-fill {
    background: @bgColor;
    &:hover {
      // background-color: lighten(@bgColor, 5%);
    }
    &:active {
      background-color: darken(@bgColor, 5%);
    }
    &:disabled,
    &.disabled {
      background-color: @baseBorderColor !important;
    }
  }
  &.@{ns}active {
    background: @bgColor;
    color: #fff;
  }
}

.btn-default {
  .btn;
  background: #fff;
  &.ui-active {
    background: #f08519;
    border-color: #f08519;
    color: #fff;
  }
}

.btn-primary {
  .create-btn(#f08519, darken(#f08519, 5%), #f86f4b);
}

.btn-yellow {
  .create-btn(#f08519, darken(#f08519, 5%), #f08519);
}

// 垂直按钮组
.btn-group {

}

// 水平按钮组
.btn-bar {

}

.btn-block {
  display: block;
}

.check-btn {
  margin-left: 0!important;
  margin-right: 10px;
  margin-top: 10px;
}